<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    <div class="error-container">
      <div class="content-wrapper">
        <img src="/images/errro.png" alt="Error Image" class="error-image" />
        <p class="error-message"><%= message %></p>
      </div>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
